{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">Productos</h1>
        <a href="{% url 'crear_producto' %}" class="btn btn-primary">Crear Producto</a>
    </div>

    {% if pagina_actual.object_list %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th class="text-center">Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in pagina_actual.object_list %}
            <tr>
                <td><strong>{{ producto.nombre }}</strong></td>
                <td>{{ producto.descripcion }}</td>
                <td>${{ producto.precio }}</td>
                <td class="text-center">{{ producto.stock }}</td> 
                <td>
                    <a href="{% url 'editar_producto' producto.id %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-info">No hay productos Inactivos.</div>
    {% endif %}

    <div class="mt-4 d-flex justify-content-between align-items-center">
        <!-- Paginador centrado (con flex-grow para que ocupe todo el espacio disponible y el contenido quede centrado) -->
        <div style="flex-grow:1; display:flex; justify-content:center; align-items:center; gap:1rem;">
            {% if pagina_actual.has_previous %}
                <a href="?page={{ pagina_actual.previous_page_number }}" class="btn btn-primary">Anterior</a>
            {% endif %}

            <span>Página {{ pagina_actual.number }} de {{ pagina_actual.paginator.num_pages }}</span>

            {% if pagina_actual.has_next %}
                <a href="?page={{ pagina_actual.next_page_number }}" class="btn btn-primary">Siguiente</a>
            {% endif %}
        </div>

        <!-- Botón a la derecha -->
        <a href="{% url 'productos_inactivos' %}" class="btn btn-secondary rounded-pill px-4 shadow-sm">
            Productos Inactivos
        </a>
    </div>
</div>
{% endblock %}
